.color-palette{
    display: flex;
    flex-direction: Row;
    justify-content: center;
    align-content: center;
}

.color-palette-color{
    width: 250px;
    height: 100px;
    text-align: center;
}

#bluemunsell{
    background-color: #068d9dff;
}

#liberty{
    background-color: #53599aff;
}
#ceruleanfrost {
    background-color: #6d9dc5ff;
}

#middlebluegreen{
    background-color: #80ded9ff;
}

#blizzardblue{
    background-color: #aeecefff;
}