* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

header, 
.train-instructions,
.smoothie-build-instructions{
    background-color: #6d9dc5ff;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.train-instructions {
    background-color: #80ded9ff;
}

.smoothie-build-instructions {
    background-color: #aeecefff;
}

.container {
    display: flex;
    border: 1px solid red;
    flex-wrap: wrap;
    
}

.smoothie {
    width: 50%;
    font-size: 4rem;
    padding: 10px;
}

.smoothie li{
    float: left;
}

.smoothie ul {
    width: 50;
    list-style: none;
    border: 1px solid green;

}