:root {
    --blueMunsell: #068D9DFF;
    --liberty: #53599AFF;
    --middleBlueGreen: #80DED9FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 100px;
    background-color: var(--blueMunsell);
}

#container {
    width: 80%;
    margin: auto;
}
.smoothie-build-instructions {
    background-color: var(--middleBlueGreen);
}

.smoothie {
    width: 50%;
    font-size: 2.5rem;
}

.predicted-rating {
    font-size: 2.5rem;
}

#fruit-one,
#fruit-two,
#fruit-three,
#fruit-four {
    border: 3px solid var(--liberty);
    width: 80px;
    height: 50px;
    border-radius: 10px;
    margin: 3px;
    font-size: 1.5rem;
}

.fill-button {
    background-color: var(--blueMunsell);
    color: white;
    font-weight: 600;
    border: none;
}

.empty-button {
    background-color: white;
    color: var(--blueMunsell);
    border: 1px solid var(--blueMunsell);
    font-weight: 600;
}

.submit-button {
    background-color: var(--liberty);
    color: white;
    font-weight: 600;
    border: none;
}

.star {
    cursor: pointer;
    filter: grayscale(100%);
}

.star--active,
.star--active ~ .star {
    filter: grayscale(0%);
  }

.rating {
    display: flex;
    flex-direction: row-reverse;
}